@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500;700&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* Set default font for the document */
html,
body {
  font-family: 'Jost', sans-serif;
  background-color: #fff;
  color: #333;
  min-height: 100%;
  scroll-behavior: smooth;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link underline and set a default color */
a {
  text-decoration: none;
  color: inherit;
}

/* Button basic reset */
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

button:disabled {
  cursor: not-allowed;
}

/* Smooth transitions for interactive elements */
a,
button {
  transition: all 0.2s ease-in-out;
}

p {
  color: #aed6df;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
